.Content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.Content > p {
    color: var(--text);
    font-size: 1rem;
    margin: 0;
}

.CarList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
